<mat-toolbar color="primary" class="toolbar">
    <button class="button-logo" (click)="OnActionPage()"><mat-icon  class="logo">currency_exchange</mat-icon> OBANK</button>
  
  <span class="spacer"></span>
  <span class="cliente">Cliente: <strong class="nome">{{name?.toUpperCase()}}</strong></span>
  <button mat-button class="button-logout" (click)="OnLogout()"> <mat-icon>logout</mat-icon> <span>sair</span></button>
</mat-toolbar>

<div class="container">
  <h2>Contas</h2>

  <app-lista-dados
    [headers]="headers"
    [fields]="fields"
    [data]="contas">
  </app-lista-dados>


  <div class="actions">
    <button mat-stroked-button color="primary" (click)="criarNovaConta()">Criar nova conta</button>
  </div>
</div>
