.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.logo {
  font-size: 28px;
  width: 28px;
  height: 28px;
  margin-right: 4PX;
}

.button-logout:hover {
  background-color: rgba(0, 0, 0, 0.04); /* leve fundo ao passar o mouse */
  transform: scale(1.05); /* efeito de aumento */
}

.spacer {
  flex: 1;
}

.cliente {
  font-size: 16px;
  margin-right: 40px;
}

.nome {
  color: #5f28c6;
}

.container {
  padding: 24px;
}

h2 {
  font-weight: 500;
  margin-bottom: 16px;
}

.actions {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.button-logo{
   all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}