<ng-container *ngIf="showHeader">
  <mat-toolbar color="primary" class="toolbar">
    <mat-icon (click)="OnActionPage('home')" class="logo">currency_exchange</mat-icon> OBANK | O banco que entende você
    <span class="spacer"></span>
    <span class="cliente">Cliente: <strong class="nome">{{ name ? name.toUpperCase() : "Pessoa" }}</strong></span>
    <button mat-button class="button-logout" (click)="OnLogout()">
      <mat-icon>logout</mat-icon>
      <span>sair</span>
    </button>
  </mat-toolbar>
</ng-container>

<router-outlet></router-outlet>