@use "@angular/material" as mat;
@include mat.core();
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  overflow-y: auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: auto;
}

.snackbar-success {
  background-color: #4caf50 !important; /* Verde */
  --mdc-snackbar-container-color: #4caf50;
  color: #fff;
}

.snackbar-error {
  background-color: #f44336 !important; /* Vermelho */
  --mdc-snackbar-container-color: #f44336de !important; /* Vermelho */
  color: #fff;
}
